<div id="<%= dom_id customer %>">
  <div>
    <strong>Name:</strong>
    <%= customer.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= customer.address %>
  </div>

  <div>
    <strong>Client type:</strong>
    <%= customer.client_type %>
  </div>

</div>
